<p class="ptl">
  Another new thing is <code>btn-tip</code>. Use it when you need to highlight a part of the button text:
</p>
<p class="mbl">
  <button class="btn btn-primary">
    Save
    <span class="btn-tip">$300</span>
  </button>
</p>